.synthDiv
	display: inline-block
	width: 350px
	// height: 250px
	padding: 10px 0
	border: 4px solid rgb(100, 100, 120)
	border-radius: 20px
	text-align: center

	.powerDiv
		margin-bottom: 5px
	.paramDiv
		margin-bottom: -15px
	.levelDiv
		margin-bottom: -10px

	.synthFrequency
		width: 100px
	.synthWaveform
		width: 100px
		margin-left: 50px

.modulationDiv
	// padding: 0 10px

	hr
		width: 90%
		height: 2px
		color: rgb(100, 100, 120)
		background-color: rgb(100, 100, 120)
	p
		margin-bottom: 5px
		padding: 0

	.modulationWaveform
		width: 100px

	.amDiv
		width: 170px
		display: inline-block
		text-align: center

	.fmDiv
		width: 170px
		display: inline-block
		text-align: center

	.modulationAmplitudeDiv
		margin-bottom: 5px
	.modulationWaveDiv
		margin-bottom: 5px
	.modulationPercentDiv
		display: inline-block
	.modulationPeriodDiv
		display: inline-block
