@import "../../../../../../node_modules/@angular/material/_theming.scss";

@include mat-core();

//-- theme accents --
  $theme-accent: mat-palette($mat-yellow, A700, A100, 800);

//-- theme alerts --
  $theme-warn: mat-palette($mat-deep-orange, A400, A200, 700);

//-- blue --
  $blue-primary-light: mat-palette($mat-blue, 800, 200, 900);
  $blue-primary-dark: mat-palette($mat-blue, 300, 100, 600);
  $blue-theme-light: mat-light-theme($blue-primary-light, $theme-accent, $theme-warn);
  $blue-theme-dark: mat-dark-theme($blue-primary-dark, $theme-accent, $theme-warn);

//-- bluegrey --
  $bluegrey-primary-light: mat-palette($mat-blue-grey, 600, 200, 700);
  $bluegrey-primary-dark: mat-palette($mat-blue-grey, 600, 200, 700);
  $bluegrey-theme-light: mat-light-theme($bluegrey-primary-light, $theme-accent, $theme-warn);
  $bluegrey-theme-dark: mat-dark-theme($bluegrey-primary-dark, $theme-accent, $theme-warn);

//-- brick --
  $brick-primary-light: mat-palette($mat-red, 900, 200, 900);
  $brick-primary-dark: mat-palette($mat-red, 900, 100, 900);
  $brick-warn: mat-palette($mat-pink, 600, A100, 800);
  $brick-theme-light: mat-light-theme($brick-primary-light, $theme-accent, $brick-warn);
  $brick-theme-dark: mat-dark-theme($brick-primary-dark, $theme-accent, $brick-warn);

//-- brown --
  $brown-primary-light: mat-palette($mat-brown, 600, 200, 800);
  $brown-primary-dark: mat-palette($mat-brown, 600, 200, 800);
  $brown-theme-light: mat-light-theme($brown-primary-light, $theme-accent, $theme-warn);
  $brown-theme-dark: mat-dark-theme($brown-primary-dark, $theme-accent, $theme-warn);

//-- cyan --
  $cyan-primary-light: mat-palette($mat-cyan, 800, 100, 900);
  $cyan-primary-dark: mat-palette($mat-cyan, 800, 100, 900);
  $cyan-theme-light: mat-light-theme($cyan-primary-light, $theme-accent, $theme-warn);
  $cyan-theme-dark: mat-dark-theme($cyan-primary-dark, $theme-accent, $theme-warn);

//-- green --
  $green-primary-light: mat-palette($mat-green, 800, 200, 900);
  $green-primary-dark: mat-palette($mat-green, 800, 200, 900);
  $green-theme-light: mat-light-theme($green-primary-light, $theme-accent, $theme-warn);
  $green-theme-dark: mat-dark-theme($green-primary-dark, $theme-accent, $theme-warn);

//-- lime --
  $lime-primary-light: mat-palette($mat-lime, 500, 100, 800);
  $lime-primary-dark: mat-palette($mat-lime, 500, 100, 800);
  $lime-accent: mat-palette($mat-orange, A400, A100, A700);
  $lime-warn: mat-palette($mat-red, 600, A100, 800);
  $lime-theme-light: mat-light-theme($lime-primary-light, $lime-accent, $lime-warn);
  $lime-theme-dark: mat-dark-theme($lime-primary-dark, $lime-accent, $lime-warn);

//-- teal --
  $teal-primary-light: mat-palette($mat-teal, 700, 100, 900);
  $teal-primary-dark: mat-palette($mat-teal, 700, 100, 900);
  $teal-theme-light: mat-light-theme($teal-primary-light, $theme-accent, $theme-warn);
  $teal-theme-dark: mat-dark-theme($teal-primary-dark, $theme-accent, $theme-warn);

// $theme: $blue-theme-light;
// $theme: $blue-theme-dark;
// $theme: $bluegrey-theme-light;
// $theme: $bluegrey-theme-dark;
// $theme: $brick-theme-light;
// $theme: $brick-theme-dark;
// $theme: $brown-theme-light;
// $theme: $brown-theme-dark;
// $theme: $cyan-theme-light;
// $theme: $cyan-theme-dark;
// $theme: $green-theme-light;
// $theme: $green-theme-dark;
// $theme: $lime-theme-light;
// $theme: $lime-theme-dark;
$theme: $teal-theme-light;
// $theme: $teal-theme-dark;

@include angular-material-theme($theme);

@mixin colors {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  :root {
    --primary-color: #{mat-color($primary)};
    --accent-color: #{mat-color($accent)};
    --warn-color: #{mat-color($warn)};
  };
}

@include colors;
