@use '@angular/material' as mat;
@include mat.core();

// set palettes...

// teal...
$primary: mat.define-palette(mat.$teal-palette, 700, 100, 900);
$accent: mat.define-palette(mat.$yellow-palette, A700, A100, 800);
$warn: mat.define-palette(mat.$deep-orange-palette, A400, A200, 700);


// define theme colors for export...

$color-primary: mat.get-color-from-palette($primary, 700);
$color-primary-darker: mat.get-color-from-palette($primary, darker);
$color-primary-lighter: mat.get-color-from-palette($primary, lighter);
$color-primary-contrast: mat.get-color-from-palette($primary, 700-contrast);

$color-accent: mat.get-color-from-palette($accent, A700);
$color-accent-darker: mat.get-color-from-palette($accent, darker);
$color-accent-lighter: mat.get-color-from-palette($accent, lighter);
$color-accent-contrast: mat.get-color-from-palette($accent, A700-contrast);

$color-warn: mat.get-color-from-palette($warn, A400);
$color-warn-contrast: mat.get-color-from-palette($warn, A400-contrast);


// create the theme...

$my-theme: mat.define-light-theme((
 color: (
   primary: $primary,
   accent: $accent,
   warn: $warn,
 )
));

// Emit theme-dependent styles for common features used across multiple components.

@include mat.core-theme($my-theme);
@include mat.all-component-themes($my-theme);
@include mat.all-component-colors($my-theme);
@include mat.all-component-typographies($my-theme);
