  /* //-- material design fonts and icons... -- */

@font-face {
	font-family: 'AlegreyaSansSC';
  font-style: normal;
  font-weight: 300;
  src: url(AlegreyaSansSC-Light.woff) format('woff');
}
@font-face {
	font-family: 'AlegreyaSansSC';
  font-style: normal;
  font-weight: 400;
  src: url(AlegreyaSansSC-Regular.woff) format('woff');
}
@font-face {
	font-family: 'AlegreyaSansSC';
  font-style: normal;
  font-weight: 500;
  src: url(AlegreyaSansSC-Medium.woff) format('woff');
}

@font-face {
	font-family: 'Barlow';
  font-style: normal;
  font-weight: 300;
  src: url(Barlow-Light.woff) format('woff');
}
@font-face {
	font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url(Barlow-Regular.woff) format('woff');
}
@font-face {
	font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  src: url(Barlow-Medium.woff) format('woff');
}

@font-face {
	font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(Roboto-Light.woff) format('woff');
}
@font-face {
	font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(Roboto-Regular.woff) format('woff');
}
@font-face {
	font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(Roboto-Medium.woff) format('woff');
}

@font-face {
	font-family: 'Tillana';
  font-style: normal;
  font-weight: 300;
  src: url(Tillana-Regular.woff) format('woff');
}
@font-face {
	font-family: 'Tillana';
  font-style: normal;
  font-weight: 400;
  src: url(Tillana-Medium.woff) format('woff');
}
@font-face {
	font-family: 'Tillana';
  font-style: normal;
  font-weight: 500;
  src: url(Tillana-Bold.woff) format('woff');
}

@font-face {
	font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.woff) format('woff');
}

.material-icons {
	font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* // Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* // Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* // Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* // Support for IE. */
  font-feature-settings: 'liga';
}
